#page1-content{
  background-color: white;
  padding: 10px;
  height: 100%;
  font-size: 15px;
}



.searchbar .searchbar-input-wrap {
  overflow: hidden;
}
.panel {
  min-width: 100px;
  max-width: 90vw;
}

.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.demo-swiper .swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ddd;
  background: #fff;
}

.demo-swiper {
  font-size: 18px;
  height: 180px;
}

.demo-swiper.demo-swiper-auto .swiper-slide {
  width: 85%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
  width: 70%;
}

.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
  width: 30%;
}

.img_swiper{
  width: 100%;
  height: 100%;
}
img.img_list {
  width: 80px;
  height: 80px;
}
a{
  color: #000;
}


.panel_a{
  margin-top: 40px;
  display: block;
  color:black;
}
.labelunder{
  display: block;
}
.menu_a{
  display: block;
  float: left;
  margin: 10px 23px;
  text-align: center;
  color:black;
}
.menu_b{
  display: block;
  float: left;
  margin: 10px 16px;
  text-align: center;
  color:black;
}

.title{
  font-family: 'Courier New', Courier, monospace;
}

#navbar_a1{
  color: #000;
}

#navbar_a2{
  color: #000;
}
.block{
  overflow: hidden;
  margin: 10px 0;
}