* {
    -webkit-overflow-scrolling: touch;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
}
.div_hr{width: 100%;border-bottom: 1px solid #efefef;margin: 0 auto;margin-top:10px;margin-bottom: 10px;}
.div_hr_light{width: 100%;border-bottom: 1px solid #efefef;margin: 0 auto;margin-top:5px;margin-bottom: 5px;}
.div_hr_bold{width: 100%;border-bottom: 5px solid #efefef;margin: 0 auto;margin-top:10px;margin-bottom: 10px;}