<div class="page" id="page1">
  <!--navbar-->
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left sliding">
        <a href="#" class="link icon-only panel-open" data-panel="#panel-nested" id="navbar_a1">
          <i class="icon f7-icons ios-only">menu</i>
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
      <div class="title">CBRLIFE</div>
      <div class="right">
        <a class="link icon-only searchbar-enable" data-searchbar=".searchbar" id="navbar_a2">
          <i class="icon f7-icons if-not-md">search</i>
          <i class="icon material-icons md-only">search</i>
        </a>
      </div>
      
      <form class="searchbar searchbar-expandable searchbar-init">
        <div class="searchbar-inner">
          <div class="searchbar-input-wrap">
            <input type="search" placeholder="Search">
            <i class="searchbar-icon"></i>
            <span class="input-clear-button"></span>
          </div>
          <span class="searchbar-disable-button">Cancel</span>
        </div>
      </form>
    </div>
  </div>
  
  <!--main content-->
  <div class="panel panel-left panel-cover panel-init " id="panel-nested"
          data-container-el="#panel-page">
          <div class="page">
            <div class="page-content">
              <div class="block block-strong">
                <p>Menu</p>
                <a class="panel_a" href="/login"><i class="icon f7-icons if-not-md">paperplane</i>Login/Register</a>              
                <p><a class="panel_a" href="/favourite"><i class="icon f7-icons if-not-md">heart</i>My Favourites</a></p>
                <p><a class="panel_a" href="/history"><i class="icon f7-icons if-not-md">clock</i>History</a></p>
                <p><a class="panel_a" href="/example"><i class="icon f7-icons if-not-md">bell</i>Notifications</a></p>
                <p><a class="panel_a" href="/privacy"><i class="icon f7-icons if-not-md">hand_raised</i>Privacy</a></p>
                <p><a class="panel_a" href="/setting"><i class="icon f7-icons if-not-md">gear_alt</i>Settings</a></p>
                <p><a class="panel_a" href="/help"><i class="icon f7-icons if-not-md">question_circle</i>Helps/Feedbacks</a></p>
                <p><a class="panel_a" href="#" class="panel-close"><i class="icon f7-icons if-not-md">xmark_rectangle</i>Close</a></p>
              </div>
              <div class="bottom_block">
                <div></div>
              </div>
            </div>
          </div>
  </div>
  <div class="toolbar tabbar-labels toolbar-bottom toolbar-init">
    <div class="toolbar-inner">
      <a href="/example" class="tab-link">
        <i class="icon f7-icons if-not-md">house_fill</i>
        <i class="icon material-icons md-only">house_fill</i>
        <span class="tabbar-label">Home</span>
      </a>
      <a href="#" class="tab-link">
        <i class="icon f7-icons if-not-md">star_fill</i>
        <i class="icon material-icons md-only">star_fill</i>
        <span class="tabbar-label">Premium</span>
      </a>
      <a href="#" class="tab-link">
        <i class="icon f7-icons if-not-md">person_2_fill<span class="badge color-red">5</span></i>
        <i class="icon material-icons md-only">person_2_fill<span class="badge color-red">5</span></i>
        <span class="tabbar-label">Message</span>
      </a>
      <a href="/login" class="tab-link">
        <i class="icon f7-icons if-not-md">logo_github</i>
        <i class="icon material-icons md-only">logo_github</i>
        <span class="tabbar-label">Me</span>
      </a>
    </div>
  </div>
  <div class="page-content">
      <div
        data-speed="900"
        data-pagination='{"el": ".swiper-pagination"}'
        data-space-between="50"
        class="swiper-container swiper-init demo-swiper"
      >
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="views\pic1.jpg" class="img_swiper"></div>
          <div class="swiper-slide"><img src="views\pic2.jpg" class="img_swiper"></div>
          <div class="swiper-slide"><img src="views\pic3.jpg" class="img_swiper"></div>
          <div class="swiper-slide"><img src="views\pic4.jpg" class="img_swiper"></div>
          <div class="swiper-slide"><img src="views\pic5.jpg" class="img_swiper"></div>
        </div>
      </div>

    <div class="block block-strong">
      <a href="#" class="menu_a">
        <i class= "icon f7-icons icon-only">
        doc_richtext
        </i>
        <span class="labelunder">News</span>
      </a>
      <a href="#" class="menu_a">
        <i class= "icon f7-icons icon-only">
        film_fill
        </i>
        <span class="labelunder">Movies</span>
      </a>
      <a href="#" class="menu_a">
        <i class= "icon f7-icons icon-only">
        gamecontroller
        </i>
        <span class="labelunder">Events</span>
      </a>
      <a href="#" class="menu_a">
        <i class= "icon f7-icons icon-only">
        dog
        </i>
        <span class="labelunder">Pets</span>
      </a>
      <a href="#" class="menu_b">
        <i class= "icon f7-icons icon-only">
          bed_double
        </i>
        <span class="labelunder">Furnitures</span>
      </a>
      <a href="#" class="menu_b">
        <i class= "icon f7-icons icon-only">
          airplane
        </i>
        <span class="labelunder">Travels</span>
      </a>
      <a href="#" class="menu_b">
        <i class= "icon f7-icons icon-only">
          hammer
        </i>
        <span class="labelunder">Repairs</span>
      </a>
      <a href="#" class="menu_b">
        <i class= "icon f7-icons icon-only">
          house
        </i>
        <span class="labelunder">Housing</span>
      </a>
    </div> 
  

    <div class="block">
      <div class="list media-list">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><img src="views\news1.jpg"
                class="img_list" /></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">NSW premier is dating high-profile lawyer</div>
                  <div class="item-after"></div>
                </div>
                <div class="item-subtitle">JUNE 18 2021</div>
                <div class="item-text">NSW Premier Gladys Berejiklian is dating again, this time seeing the lawyer who represented her at a corruption hearing into former boyfriend and government colleague Daryl Maguire.

                  Her new date is high-profile barrister Arthur Moses, SC, with their relationship revealed in an Instagram post on Friday by the premier's younger sister Mary.</div>
              </div>
            </a></li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><img src="views\news2.jpg"
                  class="img_list" /></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Qld declares hotspot in eastern Sydney</div>
                  <div class="item-after"></div>
                </div>
                <div class="item-subtitle">JUNE 18 2021</div>
                <div class="item-text">Queensland has declared a hotspot in Sydney's east, warning people to reconsider visiting the city after further community transmission of a highly infectious coronavirus strain.

                  From 1am on Saturday, returning Queenslanders and anyone who's been in the Waverley Council area in the past fortnight will have to spend two weeks in hotel quarantine.</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><img src="views\news3.jpg"
                  class="img_list" /></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Fiji requests help to fight COVID outbreak</div>
                  <div class="item-after"></div>
                </div>
                <div class="item-subtitle">JUNE 18 2021</div>
                <div class="item-text">Australia is responding to a request from the Fijian government for a medical assistance team to fight a current COVID-19 outbreak.

                  A multidisciplinary team from Australia and New Zealand will deploy to Fiji, initially for a month, to provide immediate support with health system management, infection prevention and assessment of the country's priority health needs.</div>
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><img src="views\news4.jpg"
                  class="img_list" /></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">More than 1200 people notified after positive Covid case visits Canberra</div>
                  <div class="item-after"></div>
                </div>
                <div class="item-subtitle">JUNE 18 2021</div>
                <div class="item-text">More than 1200 people in Canberra have been notified of potential exposure to COVID-19 and hundreds directed to test and isolate after a man who recorded a low-level positive test for the virus visited the city.</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    

  </div>

</div>

