<div class= "page" id="page3">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left sliding">
        <a href="#" class="link back" id="navbar_a1">
          <i class="icon f7-icons ios-only">arrow_left</i>
          <i class="icon material-icons md-only">arrow_left</i>
        </a>
      </div>
      <div class="title">My favourties</div>
    </div>
  </div>
      <div class="page-content">

      </div>

</div>