<div class= "page" id="page7">
    <div class="toolbar tabbar-labels toolbar-bottom toolbar-init">
        <div class="toolbar-inner">
          <a href="/example" class="tab-link">
            <i class="icon f7-icons if-not-md">house_fill</i>
            <i class="icon material-icons md-only">house_fill</i>
            <span class="tabbar-label">Home</span>
          </a>
          <a href="#" class="tab-link">
            <i class="icon f7-icons if-not-md">star_fill</i>
            <i class="icon material-icons md-only">star_fill</i>
            <span class="tabbar-label">Premium</span>
          </a>
          <a href="#" class="tab-link">
            <i class="icon f7-icons if-not-md">person_2_fill<span class="badge color-red">5</span></i>
            <i class="icon material-icons md-only">person_2_fill<span class="badge color-red">5</span></i>
            <span class="tabbar-label">Message</span>
          </a>
          <a href="/login" class="tab-link">
            <i class="icon f7-icons if-not-md">logo_github</i>
            <i class="icon material-icons md-only">logo_github</i>
            <span class="tabbar-label">Me</span>
          </a>
        </div>
      </div>
    <div class="page-content login-screen-content">
        <div class="left sliding">
            <a href="#" class="link back" data-panel="#panel-nested" id="navbar_a1">
              <i class="icon f7-icons ios-only">arrow_left</i>
              <i class="icon material-icons md-only">arrow_left</i>
            </a>
          </div>
        <div class="login-screen-title">Register</div>
        <form>
            <div class="list">
                <ul>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Username/Email-Address</div>
                            <div class="item-input-wrap">
                                <input type="text" name="username" placeholder="Your username" />
                            </div>
                        </div>
                    </li>
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Password</div>
                            <div class="item-input-wrap">
                                <input type="password" name="passowrd" placeholder="Your password"/>
                            </div>
                        </div>
                    </li> 
                    <li class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Confirming Password</div>
                            <div class="item-input-wrap">
                                <input type="password" name="passowrd" placeholder="Your password"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li><a href="#" class="list-button">Register</a></li>
                </ul>
            </div>
        </form>
    </div>

</div>