<div class= "page" id="page6">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left sliding">
        <a href="#" class="link back" id="navbar_a1">
          <i class="icon f7-icons ios-only">arrow_left</i>
          <i class="icon material-icons md-only">arrow_left</i>
        </a>
      </div>
      <div class="title">CBRLIFE</div>
    </div>
  </div>
  <div class="toolbar tabbar-labels toolbar-bottom toolbar-init">
    <div class="toolbar-inner">
      <a href="/example" class="tab-link">
        <i class="icon f7-icons if-not-md">house_fill</i>
        <i class="icon material-icons md-only">house_fill</i>
        <span class="tabbar-label">Home</span>
      </a>
      <a href="#" class="tab-link">
        <i class="icon f7-icons if-not-md">star_fill</i>
        <i class="icon material-icons md-only">star_fill</i>
        <span class="tabbar-label">Premium</span>
      </a>
      <a href="#" class="tab-link">
        <i class="icon f7-icons if-not-md">person_2_fill<span class="badge color-red">5</span></i>
        <i class="icon material-icons md-only">person_2_fill<span class="badge color-red">5</span></i>
        <span class="tabbar-label">Message</span>
      </a>
      <a href="/login" class="tab-link">
        <i class="icon f7-icons if-not-md">logo_github</i>
        <i class="icon material-icons md-only">logo_github</i>
        <span class="tabbar-label">Me</span>
      </a>
    </div>
  </div>

  <div class="page-content">
    <div class="block-title">Settings</div>
    <div class="list simple-list">
      <ul>
        <li>
          <span>Night Mode</span>
          <label class="toggle toggle-init color-black">
            <input type="checkbox"/>
            <span class="toggle-icon"></span>
          </label>
        </li>
        <li>
          <span>Video Autoplay</span>
          <label class="toggle toggle-init color-black">
            <input type="checkbox"/>
            <span class="toggle-icon"></span>
          </label>
        </li>
        <li>
          <span>Built-in sound effects</span>
          <label class="toggle toggle-init color-black">
            <input type="checkbox"/>
            <span class="toggle-icon"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>